[Desktop Entry]
Type=Application
Name=LabelReprintingCore
Exec=/usr/local/bin/wine /opt/LabelReprintingCore/LabelReprintingCore.exe
Icon=/opt/LabelReprintingCore/Reprint.ico
